/* line 1, C:/inetpub/wwwroot/quartz/application/Assets/Sass/main.scss */
html, body { margin: 0px; padding: 0px; }

/* line 5, C:/inetpub/wwwroot/quartz/application/Assets/Sass/main.scss */
.title { padding: 15px; font-weight: bold; margin: 0; font-size: 23px; font-family: calibri; color: #404040; background: #e5e5e5; }
